[Unit]
Description=Run test
Wants=network-online.target

[Service]
Type=oneshot
Environment=PATH=/usr/bin:/bin:/usr/local/bin
ExecStart=/usr/local/bin/start_drowsiness.sh
Restart=no

[Install]
WantedBy=multi-user.target
